<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Falcon Ingenieria</ion-card-title>
      <ion-card-subtitle>Integrando con energia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Proveemos Productos y Servicios de Automatización Industrial, 
      Integración de Sistemas, Suministros en Instrumentación, Sistemas de Control, 
      Sistemas SCADA, Sistemas de Información, Sistemas Inalámbricos,
       Edificios Inteligentes, Capacitación y Soporte.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contáctanos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      9420-2327
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Correos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      info@falconingenieria.com
      ventas@falconingenieria.com
    </ion-card-content>
  </ion-card>

       
   

</ion-content>
